body {
    background-image: url('http://company.airbus.com/.imaging/stk/airbusgroup/imageMiddle_880/dam/assets/airbusgroup/int/en/group-vision/section-page/About-Us/Airbus/jcr:content/Airbus.2017-01-02-16-52-32.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
