.pricebox {
    position: fixed;
    width: auto;
    min-width: 30%;
    max-width: 30%;

}


.passengerCompo, .contactDetails , .paymentDetails{
    margin-top: 3%;
}

.analysisCategory {
    color: yellow;
}


.jumbotron h1 {
    text-align: center;
}


.flightTime {
    font-size: 155%;
}

.gmtdiff {
    font-size: 75%;
}

.gmt_warning {
    color : red;
    font-weight: bold;
}


.hotel_preview {
    max-width: 95%;
    height: auto;
}