.pricebox {
    position: fixed;
    top: 2%;
    right: 2%;
    overflow-y: auto;
    max-height: 100vh;
}

.jumbotron h1 {
    text-align: center;
}


.flightTime {
    font-size: 155%;
}

.gmtdiff {
    font-size: 75%;
}

.gmt_warning {
    color : red;
    font-weight: bold;
}
