.pricebox {
    position: fixed;
    width: auto;
    min-width: 30%;
    max-width: 30%;
    margin-top: 3%;

}

.loginrow {
    margin-top: 2%;
}

.loginform {
    margin-top: 3%;
}


.passengerCompo, .contactDetails , .paymentDetails, .Leg{
    margin-top: 3%;
}

.addOnePassenger {
    margin-top: 2%;
}

.purchasedLeg {
    margin-top: 5%;
    margin-bottom: 5%;
}

.jumbotron h1 {
    text-align: center;
}


.mybtn {
    padding: 3px 5px;
    font-size: 5px;
    border-radius: 2px;
}

.pricebox h3 {
    text-align: center;
    color: yellow;
}

.passengerBagPriceBox {
    margin-top: 3%;
}

.bagCarrier ,.itinerary , .bagComponent , .insuranceCard  {
    margin-top: 5%;
}

.segments {
    margin-top: 2%;
}


.flightTime {
    font-size: 155%;
}

.gmtdiff {
    font-size: 75%;
}

.gmt_warning {
    color : red;
    font-weight: bold;
}


.hotel_preview {
    max-width: 95%;
    height: auto;
}